body{
    background-image: url(Screenshot_4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-weight: 700;
    color: rgb(232, 198, 247);
    margin-bottom: 50px;
}
h2{
    font-weight: 600;
    text-align: justify;
    color: rgb(84, 197, 49);
    margin-bottom: 10px;
}
.first-div{
    font-weight: 400;
    color: rgb(211, 120, 208);
    text-align: justify;
    border-radius: 5%;
}